.multiselect {
    width: 200px;
    float: left;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#types {
    display: none;
    border: 1px #dadada solid;
}

#types label {
    display: block;
}

#types label:hover {
    background-color: #1e90ff;
}

#types2 {
    display: none;
    border: 1px #dadada solid;
}

#types2 label {
    display: block;
}

#types2 label:hover {
    background-color: #1e90ff;
}

option {
    text-decoration: none;
}